<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:form="http://www.w3.org/1999/html">
<head >
    <title>Request </title>
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
</head>
<link rel="stylesheet" th:src="@{/static/style.css}" >

<body >
<div ></div>
Request
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form action="#"  th:action="@{/request}"  th:object="${request}" method="post">
    <link rel="stylesheet" th:src="@{/static/style.css}" >

    <div >
        <label> Type : </br>
            <input type="radio" name="requestType" value="SELL" checked/>
            <input type="radio" name="requestType" value="BUY"/>
        </label>
    </div>
    <div >
        <label> Exchange Option :</br>
            <input type="radio" name="exchangeOption" value="CASH" checked> Cash</input></br>
            <input type="radio" name="exchangeOption" value="NON_CASH"> Non cash</input></br>
            <input type="radio" name="exchangeOption" value="CARD"> Card</input></br>
        </label>
    </div>
    <div>
        <label th:for="currency" > Currency :
            <select th:field="*{{currency}}"  name="currency">
                <option th:each="currency : ${currencies}"
                        th:text="${currency.currencyType}"
                        th:value="${currency.currencyType}"
                        th:selected="${currency}"
                >
                </option>
            </select>
        </label>
    </div></br>
    <div ><label> Value : <input type="number" name="value" min="0" step="0.01" value="0.00"/> </label></div></br>
    <div><label> Deadline : <input type="date" name="deadline" th:min="${min}" th:value="${nextWeek}"/> </label></div></br>
    <div><input type="submit" value="Checkout"/></div>
</form>
</body>
</html>