<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:style=" @{</style.css>}"></div>
Request
<!--/*@thymesVar id="param" type="am"*/-->
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/request}" method="post">
    <div>
         <label> Type :
            <select>
                <option th:each="requestType : ${T(am.rate.project.bestexchangerate.dom.RequestType).values()}"
                        th:value="${requestType}"
                        th:text="${requestType}">
                </option>
            </select>
        </label>
    </div>
    <div>
        <label> Option :
            <select>
                <option th:each="exchangeOption : ${T(am.rate.project.bestexchangerate.dom.ExchangeOption).values()}"
                        th:value="${exchangeOption}"
                        th:text="${exchangeOption}">
                </option>
            </select>
        </label>
    </div>
    <div>
        <label> Currency : <input type="text" name="Currency"/>
            <!--<select >-->
                <!--<option th:each="currency : ${(am.rate.project.bestexchangerate.dom.Currency).findAll()}"-->
                        <!--th:value="${currency}"/>-->
            <!--</select>-->
        </label>
    </div>
    <div><label> Value : <input type="number" name="value" min="0" step="0.01"/> </label></div>
    <div><label> Deadline : <input type="date" name="deadline" th:min="${deadline}" /> </label></div>
    <div><input type="submit" value="Checkout"/></div>
</form>
</body>
</html>